<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="../../public/img/pokeball.png" />
    <link rel="stylesheet" href="../../css/reset.css"/>
    <link rel="stylesheet" href="../../css/style.css"/>

    <title>Pokédex</title>
  </head>

  <body>
    <header class="pure">
      <h1 class="pure-menu_acceuil">
        <a href="/">Pokédex</a>
      </h1>
      <nav class="pure-menu">
        <ul class="pure-menu">
          <li class="pure-menu_list"><a href="/list">Liste</a></li>
          <li class="pure-menu_type">
            <a href="/type">Types</a>
          </li>
        </ul>
      </nav>
    </header>

