<%- include('partials/header') %>
<main class="pokemon">

  
    <a href="./pokemon-card.html" class="pokemon_item">
      <img class="pokemon_item__img" src="../public/img/1.png" alt="Bulbizarre">
      <p class="pokemon_item__tittle">#1 Bulbizarre</p>
    </a>
  

  </main>
 <%- include('partials/footer') %>