<%- include('partials/header') %>
<main>
  <div class="pokemon_container">
    <div class="pokemon_item">
      <a href="./pokemon-card.html">
        <img
          class="pokemon_item__img"
          src="../../public/img/1.png"
          alt="Bulbizarre"
        />
        <p class="pokemon_item__tittle">#1 Bulbizarre</p>
      </a>
    </div>
  </div>
</main>
<%- include('partials/footer') %>
