<%- include('partials/header') %>

<main class="pokemon-card">
    <h1 class="pokemon-card__title">Détails de Herbizarre</h1>
    <section class= "pokemon-card__section">
        <img class="pokemon-card__img" src="../public/img/2.png" alt="Herbizare">
        <article class="pokemon-card__profil">
            <header>
            <h2 class="pokemon-card__name" >#2 Herbizarre</h2>

            <p class="pokemon-card__category plante"><a href="#">Plante</a></p>
            <p class="pokemon-card__category poisson"><a href="#">Poissons</a></p>
            </header>
         
          <table class="card">
            <thead>
              <tr>
                <th class="card_title">Statistiques</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="card_index">PV</td>
                <td class="card_number">60</td>
                <td class="card_gauge">60</td>
              </tr>
              <tr>
                <td class="card_index">Attaque</td>
                <td class="card_number">62</td>
                <td class="card_gauge">60</td>
              </tr>
              <tr>
                <td class="card_index">Défense</td>
                <td class="card_number">63</td>
                <td class="card_gauge">60</td>
              </tr>
              <tr>
                <td class="card_index">Attaque Spé.</td>
                <td class="card_number">80</td>
                <td class="card_gauge">60</td>
              </tr>
              <tr>
                <td class="card_index">Défense Spé.</td>
                <td class="card_number">80</td>
                <td class="card_gauge">60</td>
              </tr>
              <tr>
                <td class="card_index">Vitesse</td>
                <td class="card_number">60</td>
                <td class="card_gauge">60</td>
              </tr>
            </tbody>
          </table>


        </article>
      
    </section>
    <a class="footer" href="">Revenir a la liste</a>
</main>
 <%- include('partials/footer') %>